<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	   http://www.springframework.org/schema/beans/spring-beans.xsd
       	   http://www.springframework.org/schema/context 
       	   http://www.springframework.org/schema/context/spring-context.xsd
       	   http://www.springframework.org/schema/aop 
       	   http://www.springframework.org/schema/aop/spring-aop.xsd">      	     
 <!--<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans classpath:spring-schema/spring-beans.xsd
    http://www.springframework.org/schema/context classpath:spring-schema/spring-context.xsd
    http://www.springframework.org/schema/aop classpath:spring-schema/spring-aop.xsd ">
 -->   
 <!--Enabling AOP with aspect3 annottion-->
 <!--<aop:aspectj-autoproxy/>-->
  <!-- Autowired Annotation,
		Spring context namespace has annotation-config tag and hence context namespace has to be included in the decleration-->
    <context:annotation-config/>
    <!-- Component scanning -->
    <context:component-scan base-package="com.spring.core"/>
    <!--Constructor injection: Mandatory dependencies,immutable dependencies,passing multiple parameters once-->
    <bean id="appService" class="com.spring.core.service.AppService">
        <constructor-arg name="generatorInput" ref="XGenerator"/>  
        <constructor-arg name="message" value= "Setting a value from constructor"/>  
    </bean>
    <bean id="XGenerator" class="com.spring.core.service.XGenerator"></bean>
    <bean id="YGenerator" class="com.spring.core.service.YGenerator"></bean>
  	 <!--Setter injection: Changeable dependencies, circular dependencies-->
    <bean id="appConsumer" class="com.spring.core.service.AppConsumer">
    	<property name="message" value="Message from Setting injection"></property>
    </bean>
    	<!--Autowiring byName based on property, uses setter injection. if error, remain unwired-->
    <bean id="testAutowirebyName" class="com.spring.core.service.TestAutowire" autowire="byName">
    	<property name="message" value="Message from autowire byName, using setter injection"></property>
    </bean>
    	<!--Autowiring byName based on property (any bean id), uses setter injection. if error, throws Runtime exception-->
    <bean id="testAutowireByType" class="com.spring.core.service.TestAutowire" autowire="byType">
    	<property name="message" value="Message from autowire byType, using setter injection"></property>
    </bean>
  	  	<!--Autowiring by Parameterised constructor based on property (any bean id), uses constructor injection. if error, throws Runtime exception-->
    <bean id="testAutowireConstructor" class="com.spring.core.service.TestAutowire" autowire="constructor">
    	<constructor-arg name="message" value="Message from autowire constructor, using constructor injection"/>
    </bean>
    <!--No autowiring, default, AppService dependent on generatorImp bean, if error, throws Runtime exception-->
    <bean id="appServiceNoAutowire" class="com.spring.core.service.AppService" autowire="no">
        <constructor-arg name="generatorInput" ref="dependentgenerator"/>  
        <constructor-arg name="message" value= "Setting a value from constructor, injecting required dependency explicity"/>  
    </bean>
    <bean id="dependentgenerator" class="com.spring.core.service.YGenerator"></bean>
    
    	<!--Scope:Singleton: Stateless -->
    	<!--Scope:Singleton, default, the same bean is given for very request from the application-->
    <bean id="testAutowireScopeSingleton" class="com.spring.core.service.TestAutowire"  scope="singleton">
    	<property name="message" value="Message: default scope singleton, same bean assigned for every request"></property>
    </bean>
    	<!--Scope:Prototype: Stateful-->
		<!--Scope:Prototype, new bean is created for very request from the application-->
    <bean id="testAutowireScopePrototype" class="com.spring.core.service.TestAutowire"  scope="prototype">
    	<property name="message" value="Message: a new bean assigned for every request"></property>
    </bean>
     <!--Auto scanning and @Service annotation, no need DummyService bean here-->
     <!--<bean id="dummyService" class="com.spring.core.service.DummyService"></bean>-->
     <!--Auto scanning and @Repository annotation, no need DummyRepositoryImpl bean here-->
   	 <!--<bean id="dummyRepositoryImpl" class="com.spring.core.repo.DummyRepositoryImpl"></bean>-->
</beans>