<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="appService" class="com.spring.core.service.AppService">
        <constructor-arg name="generatorInput" ref="Xgenerator"/>  
        <constructor-arg name="message" value= "Setting a value from constructor"/>  
    </bean>
    <bean id="Xgenerator" class="com.spring.core.service.XGenerator"></bean>
    <bean id="Ygenerator" class="com.spring.core.service.YGenerator"></bean>
    
    <bean id="appConsumer" class="com.spring.core.service.AppConsumer">
    	<property name="message" value="Message from Setting injection"></property>
    </bean>
</beans>